services:
  mongo:
    image: mongo:latest
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: myuser
      MONGO_INITDB_ROOT_PASSWORD: mypassword
    networks:
      - mern-net
  backend:
    build: ./backend
    container_name: backend-api
    ports:
      - "5000:5000"
    environment:
      DB_URL: "mongodb://myuser:mypassword@mongo:27017/mydatabase?authSource=admin"
    networks:
      - mern-net
    depends_on:
      - mongo
  frontend:
    build: ./frontend
    container_name: frontend-client
    ports:
      - "80:80"
    networks:
      - mern-net
    depends_on:
      - backend
networks:
  mern-net:
    driver: bridge
volumes:
  mongo-data:
    driver: local