services:
  mongo:
    image: mongo:latest
    container_name: mongodb-dev
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: myuser
      MONGO_INITDB_ROOT_PASSWORD: mypassword
    networks:
      - mern-net-dev
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend-api-dev
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app
      - backend_modules:/app/node_modules
    environment:
      MONGO_URI: "mongodb://myuser:mypassword@mongo:27017/mydatabase?authSource=admin"
      CHOKIDAR_USEPOLLING: "true"
    networks:
      - mern-net-dev
    depends_on:
      - mongo
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    container_name: frontend-client-dev
    ports:
      - "5173:5173"
    volumes:
      - frontend_modules:/app/node_modules
    environment:
      VITE_HMR_HOST: localhost
      VITE_HMR_PORT: 5173
    networks:
      - mern-net-dev
    depends_on:
      - backend
networks:
  mern-net-dev:
    driver: bridge
volumes:
  mongo-data:
    driver: local
  backend_modules:
    driver: local
  frontend_modules:
    driver: local